@charset "utf-8";
/* CSS Document */
.article-top {
	background: #0f88eb;
	padding: 30px 25px 25px 25px;
	height: 200px;
}
.title {
	color: #fff;
	font-weight: 300!important;
}
.geek_list {
	margin: 5px 0;
	position: relative;
}
.geek_list dt.left {
	top: 28px;
	height: 100px;
	width: 50px;
	text-align: center;
	padding: 0;
	margin: 0;
}
.news_vote:not(.disabled) .fa:hover {
	color: #545e66;
}
.news_vote:not(.disabled) .fa {
	cursor: pointer;
}
.news_vote .fa {
	position: absolute;
	font-size: 42px;
	margin-left: -12px;
}
.fa-sort-up {
	top: 0;
}
.count {
	line-height: 61px;
}
.fa-sort-down {
	top: 20px;
}
.geek_list dt {
	position: absolute;
	white-space: nowrap;
}
.geek_list dd {
	position: relative;
	margin: 0 0 0 50px;
	height: 130px;
	padding-top: 8px;
}
ul > li > span > .fa {
	margin-right: 5px;
}
.list-inline > a {
	color: #fff;
	background: #39C6EE;
	padding: 7px 15px;
	border-radius: 20px;
}
.list-inline > a:active, a:hover, a:focus {
	text-decoration: none!important;
}
.release-content {
	padding: 25px 0;
}
.release-content > h1, h2, h3, h4, h5, h6, p {
	font-weight: 300!important;
	line-height: 35px;
}
.footer-bar {
	position: relative;
	padding: 15px 40px;
	height: 80px;
	border-top: #ccc 1px solid;
	border-bottom: #ccc 1px solid;
}
.user-photo {
	position: absolute;
}
.user-right {
	position: absolute;
	margin-left: 70px;
}
.avatar {
	width: 50px;
	height: 50px;
}
.avatar {
	border-radius: 50%;
}
.user-name {
	color: #333;
	font-size: 16px;
}
.information {
	font-size: 13px;
}
.information :first-child {
	margin-right: 10px;
}
.information :last-child {
	margin-left: 10px;
}
 @media (max-width:734px) {
 .article-top {
 height: 220px;
}
}
