<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">
<title>文章详情</title>
<link rel="stylesheet" href="../static/css/release-n.css" th:href="@{/css/release-n.css}">
<link rel="stylesheet" href="../static/fonts/font-awesome.min.css" th:href="@{/css/fonts/font-awesome.min.css}">
<link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
</head>

<body>
<div class="article-top">
    <div class="container">
        <dl class="geek_list title">
            <dt class="left">
                <div class="news_vote" voteid="240709"> <i class="fa fa-sort-up" datatype="up"></i>
                    <div class="count"> 0 </div>
                    <i class="fa fa-sort-down" datatype="down"></i> </div>
            </dt>
            <dd>
                <h3  class="title">【初学者必读】能让你月薪过万的5大web前端核心技能</h3>
                <ul class="list-inline">
                    <li>24分钟前</li>
                    <li><span><i class="fa fa-eye"></i>81</span></li>
                    <li></li>
                </ul>
                <div class="list-inline"> <a href="#" class="">技术</a> <a href="#" class="">前端</a> <a href="#" class="">设计</a> </div>
            </dd>
        </dl>
    </div>
</div>
<div class="container">
    <div class="release-content">
        <h3>1.开发语言</h3>
        <p>HTML发展历史有二十多年，历经多次版本更新，HTML5和CSS3的出现又是一次革新。有些人认为前端开发要掌握的技能简单，不就是制作网页嘛，其实不然，web前端需要掌握的核心语言xHTML+CSS+JavaScript，JavaScript作为最难的语言之一，许多编程高手也不敢妄自菲薄自封精通。由于JavaScript与html的差异性，以及静动态分开处理的一些好处。在大公司编写静态效果和动态效果往往是分开由不同的人完成的。小公司因为需要压缩成本，就要求每个人会的越多越好，如果您想往项目经理发展，能懂一两门后台语言，绝对是锦上添花！ 
            推荐阅读文章：HTML、CSS、JS都有哪些区别？不看后悔！</p>
        <h3>2.浏览器兼容性</h3>
        <p>互联网目前主流浏览器有IE6\7\8\9，Firefox，Chrome，Opera，Safari，遨游，包括国内主流的搜狗，腾讯 TT，360，the World等等；从内核上讲主要有IE的，遨游版IE，safari，firefox以及opera的，这些都是大家常见的，如果你身边有老网虫喜欢收藏 浏览器，你翻翻他的硬盘，相信几十款肯定是有的。每种内核对代码的解析是不完全一样的，即使同样内核也可能存在很大差异，如IE和遨游版的IE。不说非主流的浏览器，就主流的浏览器要做到完全兼容，也并非易事，需要长时间的积累和测试，需要前端开发工程师对前端开发的热爱和激情。 
            目前移动互联网的发展趋势也不容小觑，将慢慢占据互联网的主要份额。移动互联网最突出的好处是方便和及时，试想一下，走在某地风景很好，拍下来后自 动分享给各路好友，因此手机上的浏览器兼容也看刻不容缓，现在手机上的浏览器也是纷繁复杂，主流的UCWEB，safari，IE，3G门户的，以及 symbian低端机的“残缺儿童”，包括国外流行手机我们不知道的一些浏览器，更糟糕的是这些浏览器解析因为手机硬件的不同，每个浏览器得到的结果都是 完全不同的。</p>
        <h3>3.hack技术</h3>
        <p>由于不同的浏览器对CSS的解析认识不一样，因此会导致生成的页面效果不一样，这个时候就需要针对不同的浏览器写不同的CSS，这个过程叫CSS hack。虽然我们写代码都要求按照标准，不写hack代码，但实际工作中为了兼容主流浏览器，hack代码是免不了的，所以这也应该是每个前端开发人员 必备的技能。</p>
        <h3>4.业内标准</h3>
        <p>目前Web前端开发中提到最多的就是W3C标准，这是一系列标准的集合，代表了互联网发展的方向，也代表了前端开发的一种信仰。写的代码都要100%通过标准验证，为通过标准验证而感到自豪，会有效推动互联网的快速发展。</p>
        <h3>5.开发工具</h3>
        <p>目前比较流行的是Dreamweaver， 其曾经风靡一时，到现在也没有退出历史舞台，证明DW还是有很大优势的，尤其是针对初学者，其强大的提示功能可以帮助我们很快的熟悉并掌握网页布局，但现在更提倡的是纯手写代码，既体现技能方面的卓越，也可有效避免使用DW等工具产生的冗余代码。此外再掌握一些photoshop技能，即使没有美工，也能简单处理一些图像。</p>
        <h3>6.最后总结</h3>
        <p>小结，掌握以上技能，可以说你是一个合格的前端开发人员，能够参与到一个大的项目中，或者自己独立写出一个网页。虽然这看起来和网页制作设计差不多，从效果上来看，都是制作网页的，但实际上，技术上所超出的已经是好几个档次的东西了。 
            如果想要成为一个优秀前端开发工程师，拿高薪，获得“铁饭碗”，系统化的教学和指导是必不可少的。零基础或者想要提升前端技术的你，达妹建议你先学个免费的课程，测试一下自己是否适合web前端，期待与正再学习前端开发or打算学习前端开发的你一起交流。</p>
    </div>
    <div class="footer-bar">
        <div class="user-photo"> <img src="/images/user.jpg" class="avatar" alt=""> </div>
        <div class="user-right"> <a href="#" class="user-name">枯骨树先生</a>
            <div class="information"><span>发布于</span><a href="#">前端</a><span>2017-10-24 16:20</span></div>
        </div>
    </div>
</div>
<div style="height: 60px;"></div>
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script> 
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
